# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Publish

on:
  push:
    tags:
      - "**"

jobs:
  build:
    name: Build & Test
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3
      - name: Setup .NET
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 7.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Build
        run: dotnet build --no-restore -c Release
      - name: Test
        run: dotnet test --verbosity normal
        working-directory: test/AspNetCore.Localizer.Json.Test
      - name: Pack net core
        run: dotnet pack -o netCore -c Release /p:Version=$GITHUB_REF_NAME
        working-directory: AspNetCore.Localizer.Json
      - name: Pack blazor wasm
        run: dotnet pack -o wasm -c Release /p:Version=$GITHUB_REF_NAME
        working-directory: AspNetCore.Localizer.Json.Wasm
      - name: Push net core to nuget
        run: dotnet nuget push AspNetCore.Localizer.Json.$GITHUB_REF_NAME.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}
        working-directory: AspNetCore.Localizer.Json/netCore
      - name: Push blazor wasm to nuget
        run: dotnet nuget push AspNetCore.Localizer.Json.Wasm.$GITHUB_REF_NAME.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NUGET_API_KEY }}
        working-directory: AspNetCore.Localizer.Json.Wasm/wasm
